@import "../../HeaderStyles";

#spacing {
  margin-top: 80px;
}

.tile {
  display: inline-block;
  vertical-align: bottom;

  border-color: $primaryColor;
  border-style: solid;

  width: 50px;
  height: 50px;
  margin: 0px;

  color: white;
  font-size: larger;
  font-weight: 600;

  background-color: #00000000;
  user-select: none;
  cursor: pointer;
}

.tile-opened {
  background-color: #7770607a;
  cursor: default;
}

.tile-mine {
  background-color: #722d2d;
}

.tile-number {
  background-color: $primaryColorShaded;
}

.fieldRow {
  margin: 0px;
  padding: 0px;
}

.field {
  display: grid;
  width: 500px;
  margin: auto;
}