@import "../../HeaderStyles";

@keyframes tileOpening {
  from {
    background-color: #00000000;
  }

  to {
    background-color: #7770607a;
  }
}

@keyframes tileOpeningMine {
  from {
    background-color: #00000000;
  }

  to {
    background-color: #722d2d;
  }
}

@keyframes tileOpeningNumber {
  from {
    background-color: #00000000;
  }

  to {
    background-color: $primaryColorShaded;
  }
}

#spacing {
  margin-top: 80px;
}

.tile {
  display: inline-block;
  vertical-align: middle;

  border-color: $primaryColor;
  border-style: solid;

  width: 50px;
  height: 50px;
  margin: 0px;

  color: white;
  font-size: larger;
  font-weight: 600;

  background-color: #00000000;
  user-select: none;
  cursor: pointer;
}

.tile-closed:hover {
  background-color: #acacac1a;
}

.tile-opened {
  animation-name: tileOpening;
  animation-duration: 0.5s;

  background-color: #7770607a;
  cursor: default;
}

.tile-mine {
  animation-name: tileOpeningMine;
  animation-duration: 0.5s;
  background-color: #722d2d;
}

.tile-number {
  animation-name: tileOpeningNumber;
  animation-duration: 0.5s;
  background-color: $primaryColorShaded;
}

.fieldRow {
  margin: 0px;
  padding: 0px;
}

.field {
  display: grid;
  width: 500px;
  margin: auto;
}