body {
    margin: auto;
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212932ff;
}

#parallax-bg {
    position: absolute;
    margin: auto;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 35vh;
    width: 35vh;

    object-fit: contain;
    transition: transform 0.2s ease-out;

    background-image: url("Graphics/MagsSepia.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(150%) drop-shadow(0px 0 20px #000000aa);
}

#parallax-bg::before {
    background-color: rgba(255, 0, 0, 0.5);
}

#parallax-bg:hover {
    transform: scale(1.1);
}

#parallax-label {
    color:#9c927e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    letter-spacing: 4px;

    position: absolute;
    margin: auto;
    top: 110%;
    bottom: 0;
    left: 3%;
    right: 0;

    justify-content: center;
    align-items: center;
    text-align: center;

    filter: drop-shadow(0px 0 1px #000000aa);
}

#parallax-label:hover {
    transform: scale(1.1);
}