@import "../HeaderStyles";

body {
  margin: auto;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgColor;
}

#parallax-bg {
  position: absolute;
  margin: auto;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  height: 25vh;
  width: 25vh;

  object-fit: contain;
  transition: transform 0.2s ease-out;

  background-image: url("../Graphics/MagsSepia.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  filter: brightness(150%) drop-shadow(0px 0 20px #000000aa);
}

#parallax-label {
  color: $primaryColor;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  letter-spacing: 4px;

  position: absolute;
  margin: auto;
  top: 110%;
  bottom: 0;
  left: 3%;
  right: 0;

  justify-content: center;
  align-items: center;
  text-align: center;

  filter: drop-shadow(0px 0 1px #000000aa);

  #clickcount {
    font-size: 15px;
    margin-top: 5px;
  }
}