@import "../HeaderStyles";

$tiedColor: #6f829934;

body {
  color: white;
}

ol {
  list-style: none;
  padding-left: 0px;
  list-style-position: outside;
}

#game {
  margin-top: 100px;
}

#restart-button {
  @include transparent-button;
  font-size: large;
  visibility: hidden;
}

#game-board {
  margin-top: 1rem;
}

#game-info {
  width: 100%;
  align-items: center;
  text-align: center;
}

#game-meta-info {
  font-size: larger;
}

#game-history {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

#restart-button:hover {
  @include transparent-button-hover;
  font-size: large;
}

.move-button {
  color: $primaryColor;
  background-color: $transparentColor;

  font-family: $bodyFont;
  font-size: 20px;

  margin: 0.5rem;
  width: 3rem;
  height: 3rem;

  border-style: solid;
  border-color: $primaryColor;

  cursor: pointer;
}

.move-button:hover {
  color: $bgColor;
  background-color: $primaryColor;

  cursor: pointer;
}

.selected-move-button {
  background-color: $primaryColorShaded;
}

.square {
  display: inline-block;
  vertical-align: bottom;

  border-color: $primaryColor;
  border-style: solid;

  width: 100px;
  height: 100px;
  margin: 1px;

  color: white;
  font-size: larger;
  font-weight: 600;

  background-color: #00000000;
  cursor: pointer;
}

.square-selected {
  background-color: $primaryColorShaded;
  color: $primaryColor;
  cursor: default;
}

.square-highlighted {
  border-color: $primaryColorShaded;
  background-color: rgba(169, 248, 169, 0.404);
  cursor: default;
}

.square-tied {
  border-color: $primaryColorShaded;
  background-color: $tiedColor;

  color: grey;
  cursor: default;
}

.status {
  margin-top: 30px;
  font-size: larger;
}

.label {
  font-family: $bodyFont;
}