@import "../HeaderStyles";

$tiedColor: #6f829934;

body {
  color: white;
}

#game {
  margin-top: 100px;
}

#game-info {
  width: 100%;
  align-items: center;
}

#game-meta-info {
  text-align: right;
  width: 50%;
  float: right;

  font-size: larger;
}

#game-history {
  text-align: left;
  width: 50%;
  float: left;
}

#restart-button {
  @include transparent-button;
  font-size: large;
}

#restart-button:hover {
  @include transparent-button-hover;
  font-size: large;
}

.square {
  display: inline-block;
  vertical-align: bottom;

  border-color: $primaryColor;
  border-style: solid;

  width: 100px;
  height: 100px;
  margin: 1px;

  color: white;
  font-size: larger;
  font-weight: 600;

  background-color: #00000000;
}

.square-selected {
  background-color: $primaryColorShaded;
  color: $primaryColor;
}

.square-highlighted {
  border-color: $primaryColorShaded;
  background-color: rgba(169, 248, 169, 0.404);
}

.square-tied {
  border-color: $primaryColorShaded;
  background-color: $tiedColor;

  color: grey;
}

.status {
  margin-top: 30px;
  font-size: large;
}

.label {
  font-family: $bodyFont;
}