@import "../HeaderStyles";

$tiedColor: #6f829934;

body {
  color: white;
}

.square {
  display: inline-block;
  vertical-align: bottom;

  border-color: $primaryColor;
  border-style: solid;

  width: 100px;
  height: 100px;
  margin: 1px;
  
  color: white;
  font-size: larger;
  font-weight: 600;

  background-color: #00000000; 
}

.square-selected {
  background-color: $primaryColorShaded;
  color: $primaryColor;
}

.square-highlighted {
  border-color: $primaryColorShaded;
  background-color: rgba(169, 248, 169, 0.404);
}

.square-tied {
  border-color: $primaryColorShaded;
  background-color: $tiedColor;

  color: grey;
}