@charset "utf-8";

body {
	background-color: #24292E;
	color: white;
	font-family: "Futura Book", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	padding: 100px;
}

#main {
	margin: auto;
	width: 50%;
  	padding: 10px;
	flex-wrap: wrap;
	align-content: center;
}

#name_logo {
	color: white;
	width: 50%;
	height: 50%;
	padding-bottom: 5%;
}

#name_title {
	font-size: 300%;
	font-style: bold;
}

#name_actual {
	font-size: 150%;
}

#name_tagline {
	font-size: 100%;
}

.intro {
	line-height: 10px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	border: 3px solid green;
}

.imgCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.textCenter {
	text-align: center;
}

.colorTransparent {
	color: rgba(1,1,1,0);
}