$primaryColor: #9c927e;
$primaryColorShaded: #9c927e7a;
$secondaryColor: #8A7D63;
$tertiaryColor: #D6C9B0;
$accentColor: #D6AA57;
$bgColor: #212932;

$transparentColor: #00000000;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');
$bodyFont: 'Wix Madefor Display', 'Lato', sans-serif;
$fontSize: 18px;

@mixin transparent-button {
  color: #586779;
  background-color: $transparentColor;
  border-style: none;
}

@mixin transparent-button-hover {
  @include transparent-button();
  color: $primaryColor;
  cursor: pointer;
}