@import "../../HeaderStyles";

.mainContainer {
  margin-top: 2%;
  margin-bottom: 10%;
  overflow-y: auto;
  height: 89vh;
  width: 100vw;
}

.disclaimer {
  font-size: 60px;
  color: red;
}

.intro {
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
}

.resumeButton {
  padding: 10px;
  margin-top: 10px;
  border: 2px;
  border-style: dashed;
  background-color: $transparentColor;
  border-color: $primaryColor;

  a {
    text-decoration: none;
    flex-grow: 2;
    font: $bodyFont;
    font-size: $fontSize;
    color: $primaryColor;
  }

  a:hover {
    color: $primaryColorShaded;
  }
}

.resumeButton:hover {
  border-color: $primaryColorShaded;
}

.skillsetSection {
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;

  .svgImage {
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-right: -20px;
    opacity: 15%;
  }

  .text {
    text-align: left;

    .header {
      color: $tertiaryColor;
      font-size: 40px;
      font-weight: 600;
    }
  }
}

.experienceSection {
  h1 {
    color: $accentColor;
    margin: 0px;
  }

  img {
    width: 400px;
    height: 300px;
  }

  .timeline {
    color: $secondaryColor;
    font-style: italic;
  }

  .description {
    padding: 10px;
  }

  .carousel {
    width: 400px;
    margin: auto;
  }
}